ul {
    list-style-type : none;
}



@media screen and (min-width:400px){
    .body{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .logo{
        width: 2em;
    }

    /* .fond_dev{
        height: 540px;
        width: 400px;
        filter: grayscale(75%);
        margin-left: 80px;
    } */
    
    .block{
        display: flex;
        margin-left: 40%;
    }

    /* .block img{
        margin-left: 25%;
        max-width: 100%;
        object-fit: cover;
    } */

    /* .blockB{
        display: flex;
    } */

    .element1{
        text-align: center;
    }

    
}

/* @media screen and (max-width:1280px){
    .fond_dev{
        visibility: hidden;
    }
} */
